@charset "UTF-8";

/*!
* Image Resize 
* Copyright 2022
*/

/* General Variables */
:root {
  --border-width: 2px;
  --border-radius: 10px;
  
  /* Black */
  --gr-05: url("static/assets/gr05.svg");
  --gr-06: url("static/assets/gr06.svg");
  --color-theme-0: black;
  --color-theme-1: hsl(0, 0%, 10%);
  --color-theme-2: hsl(0, 0%, 20%);
  --color-theme-3: hsl(0, 0%, 30%);
  --color-theme-4: hsl(0, 0%, 40%);
  --color-theme-5: hsl(0, 0%, 50%);
  --color-theme-6: hsl(0, 0%, 60%);
  --color-theme-7: hsl(0, 0%, 70%);
  --color-theme-8: hsl(0, 0%, 80%);
  --color-theme-9: hsl(0, 0%, 90%);
  --color-theme-10: white;
  --color-intense-1: #ec4e6e;

  /* White */
  --gr-05: url("static/assets/gr05_black.svg");
  --gr-06: url("static/assets/gr06_black.svg");
  /*
  --color-theme-0: white;
  --color-theme-1: hsl(0, 0%, 95%);
  --color-theme-2: hsl(0, 0%, 90%);
  --color-theme-3: hsl(0, 0%, 85%);
  --color-theme-4: hsl(0, 0%, 70%);
  --color-theme-5: hsl(0, 0%, 50%);
  --color-theme-6: hsl(0, 0%, 40%);
  --color-theme-7: hsl(0, 0%, 30%);
  --color-theme-8: hsl(0, 0%, 20%);
  --color-theme-9: hsl(0, 0%, 10%);
  --color-theme-10: black;
  --color-intense-1: #ec4e6e;
  */
  
}

/* General Style */
body {
  font-family: "Lato", Helvetica, sans-serif;
  background-color: var(--color-theme-0);
  background: var(--color-theme-0);
  min-height: 100vh;
  color: var(--color-theme-10);
  transition: color var(--animate) ease-in-out, background var(--animate) ease-in-out;
}
.navbar,
footer {
  background-color: var(--color-theme-2);
}
.nav-link, .navbar-dark, .navbar-dark .navbar-brand {
  color: var(--color-theme-10);
  transition: color var(--animate) ease-in-out, background var(--animate) ease-in-out;
}
.nav-link:hover, .navbar-dark:hover, .navbar-dark .navbar-brand:hover {
  color: var(--color-theme-9);
}
.navbar-toggler {
  border: none ;
  background-color: black;
}
.spacer {
  height: 30px;
}
h6 {
  font-weight: 700;
}
hr {
  margin: 0.4em;
}

/* Upload Containers, Box and Upload */
.container {
  color: var(--color-theme-10); 
}
.upload-container {
}
.animate {
  transition: color var(--animate) ease-in-out, background var(--animate) ease-in-out;
}
.upload-box {
  width: 100%;
  background-color: var(--color-theme-2);
  border-radius: calc(var(--border-radius) * 2);
  z-index: 10;
}
.options-box {
  background-color: var(--color-theme-2);
  border-radius: calc(var(--border-radius) * 2);
}
.show-container {
}
.show-container img,
.show-container .placeholder {
  border-radius: var(--border-radius);
  max-width: 100%;
}
.show-box {
  background-color: var(--color-theme-3);
  border-radius: calc(var(--border-radius) * 2);
  min-height: 100px;
}
.show-single-image {
  position: relative;
}
.show-size-tag {
  position: absolute;
  text-align: center;
  top: 12px;
  left: 12px;
  padding: 4px 13px 4px 13px;
  border-radius: var(--border-radius);
  background-color: var(--color-theme-1);
  color: var(--color-theme-10);
  z-index: 100;
}
.show-multiple-image {
  position: relative;
  margin-bottom: 10px;
}
.input-group-text {
  background-color: white;
}
.temp-image {
  width: 100%;
}
.example-image { /* TODO --> To be removed */
  height: 160px;
  margin: 6px;
  cursor: pointer;
  border: solid 2px var(--color-theme-2);
  border-radius: var(--border-radius);
  transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
}
.example-image:hover {
  border-color: var(--color-intense-1);
  scale: 1.02;
}
.category-container {
}
.preset-size-button-container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
.preset-size-button {
  display: block;
  width: 80px;
  height: 80px;
  margin: 3px;
  color: var(--color-theme-10);
  background-color: var(--color-theme-1);
  border: 1px solid var(--color-theme-5);
  
  border-radius: 3px;
  text-align: center;
}
.preset-size-button:hover {
  color: var(--color-intense-1);
  background-color: var(--color-theme-0);
  border-color: var(--color-intense-1);
}
.preset-size-tag-name {
  display: block;
  font-size: 0.9em;
  color: var(--color-theme-10)
}
.preset-size-tag-size {
  font-size: 0.7em;
  color: var(--color-theme-6)
}
.preset-size-selected {
  border-color: var(--color-intense-1);
  color: var(--color-intense-1);
}


/* Buttons and options */
.bi {
  pointer-events:none;
}
.bi-mr {
  /* Icons in button */
  padding-right: 10px;
}
.arr-resize-mode {
  color: var(--color-intense-1);
  opacity: 0;
  font-size: 1.4em;
}
.arr-resize-mode-sel {
  opacity: 1;
}
.btn {
  cursor: pointer;
}
.btn-resize-mode {
  padding: 7px;
  width: 100%;
  border: solid 2px var(--color-theme-1);
  border-radius: var(--border-radius);
  background-color: var(--color-theme-1);
  color: var(--color-theme-10);
  
}
.btn-resize-mode:hover, .btn-resize-mode-sel {
  border-color: var(--color-intense-1);
  color: var(--color-intense-1);
}
.btn-download {
  padding: 7px;
  width: 100%;
  border: solid 2px black;
  border-radius: var(--border-radius);
  background-color: var(--color-theme-0);
  border-color: var(--color-theme-0);
  color: var(--color-intense-1);
}
.btn-download:hover {
  border-color: var(--color-intense-1);
  color: var(--color-intense-1);
}
.btn-update {
  padding: 7px;
  width: 100%;
  border: solid 2px black;
  border-radius: var(--border-radius);
  background-color: var(--color-theme-0);
  color: var(--color-theme-10);
}
.btn-update:hover {
  color: var(--color-intense-1);
}
.btn-100 {
  width: 100%;
}
.preset-list {
  
}
.text-small {
  font-size: 0.85em;
}
.text-small-2 {
  font-size: 0.6em;
}
.type {
  /* <<<< to be removed ? */
  border-radius: 4px;
  width: 50px;
  border: 1px solid grey;
  font-size: 0.95em;
}
.scale-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 4px;
  background: var(--color-theme-1);
}
.inputValue {
  text-align: center;
  padding: 5px;
  margin:3px;
  max-width: 120px;
  border: solid 2px black;
  border-radius: var(--border-radius);
  background-color: var(--color-theme-3);
  border-color: var(--color-theme-1);
  color: var(--color-intense-10);
}


/* Sprites and Images */
.gr-04a,
.gr-04b,
.gr-04c {
  background-image: var(--gr-06);
  background-repeat: no-repeat;
  height: 150px;
  width: 150px;
}
.gr-01 {
  background-image: var(--gr-05);
  background-repeat: no-repeat;
  background-position: -32px -10px;
  width: 110px;
  height: 130px;
}
.gr-02 {
  background-image: url("../assets/gr02.svg");
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  background-size: contain;
}
.gr-03 {
  background-image: url("../assets/gr03.svg");
  background-repeat: no-repeat;
  width: 253px;
  width: 180px;
  height: 22px;
  background-size: contain;
}
.gr-04a {
  background-position: 0 0;
}
.gr-04b {
  background-position: -150px 0;
}
.gr-04c {
  height: 150px;
  background-position: -300px 0;
}

/* Animations */
.slide-top-1 {
  animation-duration: 1s;
  animation-name: slidetotop;
}
.slide-top-2 {
  animation-duration: 1.5s;
  animation-name: slidetotop;
}
@keyframes slidetotop {
  from {
    /*margin-top: 30px;*/
    opacity: 0.2;
  }
  to {
    /*margin-top: 0px;*/
    opacity: 1;
  }
}


/* FilePond adaptation */
.filepond-container {
  width: 100%;
}
.filepond--root {
  margin-bottom: 0 !important;
}
.filepond--root .filepond--drop-label {
  color: var(--color-theme-9);
  font-size: 1.4em;
}
.filepond--file-action-button {
  cursor: pointer;
}
.filepond--panel-root {
  background-color: transparent !important;
  /*border: var(--border-width) solid var(--color-theme-3);*/
}
/* 
.filepond--root .filepond--drop-label {
  height: 500px;<<<<< CODE NOT WORKING ??
  color: var(--color-theme-9);
  font-size: 1.4em;
}*/
/*
.filepond--root .filepond--credits {
  display: none;
}
*/


/* Mobile Adjustemnts Portrait */
@media only screen and (max-width: 600px) {
  .gr-01 {
    background-position: -23px -15px;
    background-size: 115px;
    width: 80px;
    height: 90px;
  }
  .logo-text {
    font-size: 1.2em;
  }
  .example-image {
    height: 75px;
    margin: 3px;
  }
  .arr-resize-mode {
    display: none;
  }
}


/* TEMP Light Dark Toggle mode testing <<<< TODO --> Organize CSS */ 
:root {
	--gray-5:#010101; /*dark*/
	--gray-10:#040404;
	--gray-15:#070808;
	--gray-20:#0D0D0E;
	--gray-25:#141516;
	--gray-30:#1E2022;
	--gray-35:#2D2F31;
	--gray-40:#404346;
	--gray-45:#5B5E62;
	--gray-50:#7C8084;
	--gray-55:#9DA1A5;
	--gray-60:#B9BDC1;
	--gray-65:#CDD1D5;
	--gray-70:#DCE0E3;
	--gray-75:#E7EAED;
	--gray-80:#EFF2F5;
	--gray-85:#F4F7FA;
	--gray-90:#F7FAFD;
	--gray-95:#FCFEFE; /*light*/
	--animate:200ms;
}
.mode-toggle {
	display:inline-flex;
	flex-direction:row;
	align-items:center;
  padding: 0.4rem;
}
/*
.label-dark {
  padding-right: 0.5rem;
}
.label-light {
  padding-left: 0.5rem;
}
*/
.toggle-switch {
	margin:0;
	padding:0;
	width:48px;
	height:28px;
	border:none;
	outline:none;
	overflow:hidden;
	position:relative;
	border-radius:14px;
	display:inline-block;
	background:var(--gray-40);
}
body.dark .toggle-switch {
	width:48px;
}
.toggle-switch,
.toggle-switch:before,
.toggle-switch:after {
	transition:all var(--animate) ease-in-out;
}
body.dark .toggle-switch {
	background:var(--gray-70);
}
.toggle-switch:before {
	top:4px;
	left:24px;
	content:"";
	width:20px;
	height:20px;
	display:block;
	position:absolute;
	border-radius:12px;
	background:var(--gray-70);
}
body.dark .toggle-switch:before {
	left:4px;
	background:var(--gray-35);
}
.toggle-switch:after {
	content:"";
	top:14px;
	right:2px;
	width:1px;
	height:1px;
	display:block;
	position:absolute;
	border-radius:0.5px;
	background:var(--gray-40);
}
body.dark .toggle-switch:after {
	top:-2px;
	right:2px;
	width:32px;
	height:32px;
	border-radius:16px;
	background:var(--gray-70);
}
.toggle-switch:hover,
.toggle-switch:hover:after {
	background:var(--gray-35);
}
.toggle-switch:focus,
.toggle-switch:active,
.toggle-switch:active:after {
	background:var(--gray-25);
}
body.dark .toggle-switch:hover,
body.dark .toggle-switch:hover:after {
	background:var(--gray-95);
}
body.dark .toggle-switch:focus,
body.dark .toggle-switch:active,
body.dark .toggle-switch:active:after {
	background:var(--gray-65);
}
.noselect {
	user-select:none;
	-ms-user-select:none;
	-moz-user-select:none;
	-webkit-user-select:none;
}