@charset "UTF-8";
/*!
* Image Resize 
* Copyright 2022
*/

/* General Variables */
:root {
  --border-width: 2px;
  --border-radius: 10px;
  --color-theme-0: black;
  --color-theme-1: #242424;
  --color-theme-2: #48494b;
  --color-theme-3: #6f6f6f;
  --color-theme-8: #b3b3b3;
  --color-theme-9: #e1e1e1;
  --color-theme-10: white;
  --color-intense-1: #ec4e6e;
}

/* General Style */
body {
  font-family: "Lato", Helvetica, sans-serif;
  background-color: var(--color-theme-0);
  background: var(--color-theme-0);
  /*background: linear-gradient(
    156deg,
    rgba(50, 63, 93, 1) 0%,
    rgba(48, 61, 90, 1) 25%,
    rgba(8, 11, 16, 1) 100%
  );*/
  min-height: 100vh;
}
.navbar,
footer {
  background-color: var(--color-theme-1);
}
.nav-link {
  color: var(--color-theme-10);
}
.nav-link:hover {
  color: var(--color-theme-9);
}
.navbar-toggler {
  border: none;
}
.spacer {
  height: 30px;
}
.transp-backgr {
  background-color: rgba(255, 255, 255, 0.15);
}
h6 {
  font-weight: 700;
}
.text-gray {
  color: #999999;
}
.text-gray:hover {
  color: #333333;
}

/* Upload Containers, Box and Upload */
.container {
  color: var(--color-theme-10);
}
.upload-container {
}
.upload-box {
  background-color: var(--color-theme-2);
  border-radius: calc(var(--border-radius) * 2);
  z-index: 10;
  min-height: 200px;
}
.options-box {
  background-color: var(--color-theme-2);
  border-radius: calc(var(--border-radius) * 2);
  min-height: 200px;
}
.show-container {
}
.show-container img,
.show-container .placeholder {
  border-radius: var(--border-radius);
}
.show-box {
  background-color: var(--color-theme-3);
  border-radius: calc(var(--border-radius) * 2);
  min-height: 100px;
}
.show-single-image {
  position: relative;
}
.show-size-tag {
  position: absolute;
  text-align: center;
  top: 12px;
  left: 12px;
  padding: 4px 13px 4px 13px;
  border-radius: var(--border-radius);
  background-color: var(--color-theme-1);
  color: var(--color-theme-10);
  z-index: 100;
}
.show-multiple-image {
  position: relative;
}
.input-group-text {
  background-color: white;
}
.temp-image {
  width: 100%;
}
.example-image {
  height: 160px;
  margin: 6px;
  cursor: pointer;
  border: solid 2px var(--color-theme-2);
  border-radius: var(--border-radius);
  transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
}
.example-image:hover {
  border-color: var(--color-intense-1);
  scale: 1.02;
}

/* FilePond adaptation */
.filepond--root {
  height: 300px;
}
.filepond--root .filepond--drop-label {
  /*min-height: 200px !important;*/
  height: 300px;
  color: var(--color-theme-9);
  font-size: 1.4em;
}
/*
.filepond--root .filepond--credits {
  display: none;
}
*/
.filepond--file-action-button {
  cursor: pointer;
}
.filepond--panel-root {
  background-color: var(--color-theme-2) !important;
  /*border: var(--border-width) solid var(--color-intense-1);*/
}

/* Buttons */
.bi-mr {
  /* Icons in button */
  padding-right: 10px;
}
.btn-resize-mode-arrow {
  color: var(--color-intense-1);
  font-size: 1.4em;
}
.btn {
  cursor: pointer;
}
.btn-resize-mode {
  padding: 7px;
  width: 100%;
  border: solid 2px black;
  border-radius: var(--border-radius);
  background-color: var(--color-theme-0);
  border-color: var(--color-theme-0);
  color: var(--color-theme-10);
  
}
.btn-resize-mode:hover, .btn-resize-mode-selected {
  border-color: var(--color-intense-1);
  color: var(--color-intense-1);
}
.btn-download {
  padding: 7px;
  width: 100%;
  border: solid 2px black;
  border-radius: var(--border-radius);
  background-color: var(--color-theme-0);
  border-color: var(--color-theme-0);
  color: var(--color-intense-1);
}
.btn-download:hover {
  border-color: var(--color-intense-1);
  color: var(--color-intense-1);
}
.btn-100 {
  width: 100%;
}
.text-small {
  font-size: 0.85em;
}
.text-small-2 {
  font-size: 0.6em;
}
.type {
  border-radius: 4px;
  width: 50px;
  border: 1px solid grey;
  font-size: 0.95em;
}

/* Sprites and Images */
.gr-04a,
.gr-04b,
.gr-04c {
  background-image: url("../assets/gr06.svg");
  background-repeat: no-repeat;
  height: 150px;
  width: 150px;
}
.gr-01 {
  background-image: url("../assets/gr05.svg");
  background-repeat: no-repeat;
  background-position: -32px -10px;
  width: 110px;
  height: 130px;
}
.gr-02 {
  background-image: url("../assets/gr02.svg");
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  background-size: contain;
}
.gr-03 {
  background-image: url("../assets/gr03.svg");
  background-repeat: no-repeat;
  width: 253px;
  width: 180px;
  height: 22px;
  background-size: contain;
}
.gr-04a {
  background-position: 0 0;
}
.gr-04b {
  background-position: -150px 0;
}
.gr-04c {
  height: 150px;
  background-position: -300px 0;
}

/* Animations */
.slide-top-1 {
  animation-duration: 1s;
  animation-name: slidetotop;
}
.slide-top-2 {
  animation-duration: 1.5s;
  animation-name: slidetotop;
}
@keyframes slidetotop {
  from {
    /*margin-top: 30px;*/
    opacity: 0.2;
  }
  to {
    /*margin-top: 0px;*/
    opacity: 1;
  }
}

/* Mobile Adjustemnts Portrait */
@media only screen and (max-width: 600px) {
  .gr-01 {
    background-position: -23px -15px;
    background-size: 115px;
    width: 80px;
    height: 90px;
  }
  .logo-text {
    font-size: 1.2em;
  }
  .example-image {
    height: 75px;
    margin: 3px;
  }
  .force-100 {
    
  }
}


/* TEMP */
#show-container {
}
#imageResizedContainer,
#imagePrevContainer {
  display: none;
}
#show-single {
  display: none;
}
#show-multiple {
}
#example-images-container {
  display: none;
}
#options-box-mode {
}
#options-box-preset {
  display: none;
}
#options-box-custom-size {
}
#options-box-percentage {
  display: none;
}