@charset "UTF-8";
/*!
* Free Resize Image 
* Copyright 2022
*/

/* General Variables */
:root {
  --border-width: 2px;
  --border-radius: 10px;
}

/* General Style */
body {
  font-family: "Lato", Helvetica, sans-serif;
  background-color: rgb(50, 63, 93);
  background: rgb(50, 63, 93);
  background: linear-gradient(
    156deg,
    rgba(50, 63, 93, 1) 0%,
    rgba(48, 61, 90, 1) 25%,
    rgba(8, 11, 16, 1) 100%
  );
  min-height: 100vh;
}
.navbar,
footer {
  background-color: #2a3550;
}
.nav-link {
  color: white;
}
.nav-link:hover {
  color: grey;
}
.navbar-toggler {
  border: none;
}
.spacer {
  height: 30px;
}
.transp-backgr {
  background-color: rgba(255, 255, 255, 0.15);
}
h6 {
  font-weight: 700;
}
.text-gray {
  color: #999999;
}
.text-gray:hover {
  color: #333333;
}

/* Upload Box, Dropzone and Upload Buttons */
.upload-container {
  background-color: white;
  border-radius: calc(var(--border-radius) * 2);
}
.upload-box {
  z-index: 10;
  border-radius: var(--border-radius);
  /*max-width: 450px;*/
  min-height: 200px;
}
.options-box {
  min-height: 200px;
}
.input-group-text {
  background-color: white;
}
/*
.upload-box::after {
  position: absolute;
  content: "";
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  z-index: -1;
  width: calc(100% + var(--border-width) * 2);
  height: calc(100% + var(--border-width) * 2);
  background: linear-gradient(
    60deg,
    hsl(224, 85%, 66%),
    hsl(269, 85%, 66%),
    hsl(314, 85%, 66%),
    hsl(359, 85%, 66%),
    hsl(44, 85%, 66%),
    hsl(89, 85%, 66%),
    hsl(134, 85%, 66%),
    hsl(179, 85%, 66%)
  );
  background-size: 300% 300%;
  background-position: 0 50%;
  border-radius: calc(2 * var(--border-width));
  animation: moveGradient 4s alternate infinite;
}
*/
/*
.dropzone {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999999;
  width: 100%;
  height: 100%;
  padding: 4%;
  background-color: rgba(0, 0, 0, 0.6);
  transition: visibility 175ms, opacity 175ms;
}
.dropzone .gradient-border {
  --border-width: 3px;

  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #adb9d8;
  background: #19233b;
  border-radius: var(--border-width);
}
.dropzone .gradient-border::after {
  position: absolute;
  content: "";
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  z-index: -1;
  width: calc(100% + var(--border-width) * 2);
  height: calc(100% + var(--border-width) * 2);
  background: linear-gradient(
    60deg,
    hsl(224, 85%, 66%),
    hsl(269, 85%, 66%),
    hsl(314, 85%, 66%),
    hsl(359, 85%, 66%),
    hsl(44, 85%, 66%),
    hsl(89, 85%, 66%),
    hsl(134, 85%, 66%),
    hsl(179, 85%, 66%)
  );
  background-size: 300% 300%;
  background-position: 0 50%;
  border-radius: calc(2 * var(--border-width));
  animation: moveGradient 4s alternate infinite;
}
@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}
*/

/* FilePond adaptation */
.filepond--root {
  height: 300px;
}
.filepond--root .filepond--drop-label {
  /*min-height: 200px !important;*/
  height: 300px;
}
/*
.filepond--root .filepond--credits {
  display: none;
}
*/
.filepond--file-action-button {
  cursor: pointer;
}
.filepond--panel-root {
  background-color: white !important;
  border: var(--border-width) solid #EC4E6E;
}


/* Buttons */
.btn-download {
  background-color: #19233b;
  color: #ec4e6e;
  padding: 10px;
  border-radius: var(--border-radius);
}
.btn-download:hover {
  background-color: #071127;
  color: #ec4e6e;
}
.btn-download {
  width: 100%;
}
.btn-100 {
  width: 100%;
}
.text-small {
  font-size: 0.85em;
}
.type {
  border-radius: 4px;
  width: 50px;
  border: 1px solid grey;
  font-size: 0.95em;
}

/* Sprites and Images */
.gr-01,
.gr-04a,
.gr-04b,
.gr-04c {
  background-image: url("../assets/gr04.svg");
  background-repeat: no-repeat;
  height: 150px;
  width: 150px;
}
.gr-01 {
  background-position: -32px -10px;
  width: 110px;
  height: 130px;
}
.gr-02 {
  background-image: url("../assets/gr02.svg");
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  background-size: contain;
}
.gr-03 {
  background-image: url("../assets/gr03.svg");
  background-repeat: no-repeat;
  width: 253px;
  width: 180px;
  height: 22px;
  background-size: contain;
}
.gr-04a {
  background-position: 0 0;
}
.gr-04b {
  background-position: -150px 0;
}
.gr-04c {
  height: 150px;
  background-position: -300px 0;
}

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

/* Animations */
.slide-top-1 {
  animation-duration: 1s;
  animation-name: slidetotop;
}
.slide-top-2 {
  animation-duration: 1.5s;
  animation-name: slidetotop;
}
@keyframes slidetotop {
  from {
    /*margin-top: 30px;*/
    opacity: 0.2;
  }
  to {
    /*margin-top: 0px;*/
    opacity: 1;
  }
}
