{% extends 'base.html' %}
{% set active_page = "/contact" %}

{% block content %}

<section>
    <!-- Page Content Block 1 - Upload -->
    <div class="container px-4 px-lg-5 my-5">
        <h3>About</h3>
        <p>This is a demo version of the app.</p>
        <div class="spacer"></div>
        <h3>Contact Us</h3>
        <p>If you have any comment please contact us.</p>
        <p><a href="mailto:#" class="link-light">contact@domain.com</a> </p>
        <p>(demo / email will be available shortly)</p>
    </div>

    <div class="spacer" style="min-height: 25vh;"></div>
</section>

{% endblock %}
