{% extends 'base.html' %}
{% set active_page = "/" %}

{% block content %}

<section>
    <!-- Page Content Block 1 - Upload -->
    <div class="container px-4 px-lg-5">
        <!-- Message box -->
        <div id="liveAlertPlaceholder"></div>

        <!-- Upload & Options container -->
        <div class="upload-container row p-3">
            <div class="upload-box col-sm p-2">
                <!-- FilePond Upload -->
                <form method="POST" enctype="multipart/form-data">
                    <input id="filePondUpload" type="file" class="filepond" name="filepond" data-max-file-size="3MB"
                        accept="image/png, image/jpeg, image/gif">
                </form>
            </div>
            <div class="options-box col-sm p-3">
                <!-- Options and info -->
                <div class="mb-3">
                    <h6 class="border-bottom border-dark pb-1">Select resize options:</h6>
                    <div class="row py-2">
                        <div class="col">
                            Max size:
                        </div>
                        <div class="col-md-9">
                            <div class="btn-group btn-100">
                                <input type="radio" class="btn-check" name="dimension" id="dim1" autocomplete="off" />
                                <label class="btn btn-outline-secondary " for="dim1">1200px</label>

                                <input type="radio" class="btn-check" name="dimension" id="dim2" autocomplete="off"
                                    checked />
                                <label class="btn btn-outline-secondary " for="dim2">600px</label>

                                <input type="radio" class="btn-check" name="dimension" id="dim3" autocomplete="off" />
                                <label class="btn btn-outline-secondary " for="dim3">300px</label>
                            </div>
                        </div>
                    </div>
                    <div class="row py-2">
                        <!--
                        <div class="col-4">
                            Compression:
                        </div>
                        <div class="col-8">
                            <div class="btn-group btn-100">
                                
                                <input type="radio" class="btn-check" name="resolution" id="res1" autocomplete="off" disabled/>
                                <label class="btn btn-outline-secondary" for="res1">100%</label>

                                <input type="radio" class="btn-check" name="resolution" id="res2" autocomplete="off" disabled />
                                <label class="btn btn-outline-secondary" for="res2">75%</label>

                                <input type="radio" class="btn-check" name="resolution" id="res3" autocomplete="off" disabled />
                                <label class="btn btn-outline-secondary" for="res3">50%</label>
                            </div>
                        </div>
                        -->
                    </div>


                    <h6 class="border-bottom border-dark pb-1">File Info:</h6>

                    <div class="row justify-content-center text-small">
                        <div class="col">
                            <div class="pt-2">Old &rarr;</div>
                        </div>
                        <div class="col-md-9">
                            <div class="d-flex text-center">
                                <div class="align-self-center py-2">
                                    <div id="file_type_old" class="type">-</div>
                                </div>
                                <div class="align-self-center p-2">
                                    <div id="file_size_old"></div>
                                </div>
                                <div class="align-self-center p-2">
                                    <div id="file_res_old"></div>
                                </div>
                                <div class="align-self-center py-2">
                                    <div id="file_name_old">no-file</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center text-small">
                        <div class="col">
                            <div class="pt-2">New &rarr;</div>
                        </div>
                        <div class="col-md-9">
                            <div class="d-flex text-center">
                                <div class="align-self-center py-2">
                                    <div id="file_type" class="type">-</div>
                                </div>
                                <div class="align-self-center p-2">
                                    <div id="file_size"></div>
                                </div>
                                <div class="align-self-center p-2">
                                    <div id="file_res"></div>
                                </div>
                                <div class="align-self-center py-2">
                                    <div id="file_name">no-file</div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>


                <a id="downloadFileBtn" class="btn btn-download mt-2 disabled" download="#">Download Resized Image</a>
            </div>
        </div>
    </div>
</section>
<div class="spacer"></div>
<!-- Page Content Block 2 -->
<section>
    <div class="container px-4 px-lg-5">
        <!-- Content Row with cards -->
        <div class="row gx-lg-5 text-center text-white">
            <h2 class="my-5 slide-top-1">Photo editing, free and all in the browser.</h2>
            <div class="col-md-4 mb-5 slide-top-2">
                <div class="h-100">
                    <div class="gr-04a mx-auto"></div>
                    <p class="card-text">Shrink your photos width or lenght to a fixed size using a free online tool.
                    </p>
                </div>
            </div>
            <div class="col-md-4 mb-5 slide-top-2">
                <div class="h-100">
                    <div class="gr-04b mx-auto"></div>
                    <p class="card-text">Reduce file size and check properties online to match your desired quality.
                    </p>
                </div>
            </div>
            <div class="col-md-4 mb-5 slide-top-2">
                <div class="h-100">
                    <div class="gr-04c mx-auto"></div>
                    <p class="card-text">Get web-ready images by uploading different sizes, BMP, GIF, JPG, or PNG.</p>
                </div>
            </div>
        </div>
        <div class="spacer"></div>
        <!-- Text Description -->
        <div class="row mb-5 text-white">
            <h2 class="pb-4 slide-top-1">How we do it?</h2>
            <div class="col-sm slide-top-2">
                <p>Free Resize Image is an online app that allows you to compress your image online to adjust
                    quality and optimize information. You could drag and drop or simple upload any image you have by clicking on the uploader. When you upload your image, our app will show you old and new format, size, and resolution. Typical formats like BMP, GIF,
                    JPG or PNG are supported. You could also upload other image formats like iPhone HEIC files. The
                    uploader is fast and secure and all the process is made online without storing information in any
                    server.
                </p>
                
            </div>
            <div class="col-sm slide-top-2">
                <p>Photos from modern cellphones and cameras usually have over 6 million pixels, while most cellphones, tablets, notebook or TV screens have only about 1.5 million pixels, which means you
                    end up seeing a resized version of the image (you only use the full image if you print it). So
                    if you resize your image, decreasing its width and height to a half, your image would have about
                    the same number of pixels as the screens that will display it, and you wouldn’t be losing any
                    quality or detail, even looking at your image in full screen mode.</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}
