{% extends 'base.html' %}
{% set active_page = "/" %}

{% block content %}

<section>
    <!-- Page Content Block 1 - Upload -->
    <div class="container px-4 px-lg-5">
        <!-- Message box -->
        <div id="liveAlertPlaceholder"></div>

        <div class="upload-container row">
            <div class="upload-box col-sm m-2">
                <!-- FilePond Upload -->
                <form method="POST" enctype="multipart/form-data">
                    <input id="filePondUpload" type="file" class="filepond" name="filepond" data-max-file-size="4MB"
                        accept="image/png, image/jpeg, image/gif">
                </form>
            </div>
            <div class="options-box col-sm m-2 p-4">
                <!-- Resize options -->
                <div class="mb-3">
                    <h4 class="pb-1">Resize options:</h4>

                    <!-- Resize options: Mode selector -->
                    <div class="row text-center">
                        <div class="col-12 col-md-4">
                            <button class="btn btn-resize-mode btn-resize-mode-selected" type="button"><i
                                    class="bi bi-badge-sd bi-mr"></i>Standard size</button>
                            <i class="bi bi-chevron-down btn-resize-mode-arrow"></i>
                        </div>
                        <div class="col-12 col-md-4">
                            <button class="btn btn-resize-mode" type="button"><i
                                    class="bi bi-aspect-ratio bi-mr"></i>Custom size</button>
                            <i class="bi bi-chevron-down btn-resize-mode-arrow"></i>
                        </div>
                        <div class="col-12 col-md-4">
                            <button class="btn btn-resize-mode" type="button"><i
                                    class="bi bi-percent bi-mr"></i>Percentage</button>
                            <i class="bi bi-chevron-down btn-resize-mode-arrow"></i>
                        </div>
                    </div>


                    <!-- Resize options: Options Blocks -->
                    <div id="options-box-mode">
                        <hr />

                        <p>Mode: <input id="cropModeCheckbox" type="checkbox" checked> crop
                            <input id="containModeCheckbox" type="checkbox"> contain
                            background color:
                            <input type="color" id="backColorPicker" name="backColorPicker" value="#f5f5f5">
                        </p>

                        <hr />
                    </div>
                    <div id="options-box-preset">

                        <div id="presetListContainer">
                            Scale to a standard size
                        </div>

                        <hr />
                    </div>
                    <div id="options-box-custom-size">

                        <div id="sizeContainer">
                            > Scale to a max fixed size: </br>
                            w: <input min="0" max="2500" class="inputValue" id="width" placeholder="auto">px or
                            h: <input min="0" max="2500" class="inputValue" id="height" placeholder="auto">px
                            </br>
                            auto calc proportions, or check to force: <input id="autoForceWidthHeightCheckbox" type="checkbox">
                            </form>
                        </div>

                        <hr />
                    </div>
                    <div id="options-box-percentage">

                        percentage

                        <hr />
                    </div>


                    <!--
                    <div class="row py-2">
                        <div class="col">
                            Max size:
                        </div>
                        <div class="col-md-9">
                            <div class="btn-group btn-100">
                                <input type="radio" class="btn-check" name="dimension" id="dim1" autocomplete="off" />
                                <label class="btn btn-outline-secondary " for="dim1">1200px</label>

                                <input type="radio" class="btn-check" name="dimension" id="dim2" autocomplete="off"
                                    checked />
                                <label class="btn btn-outline-secondary " for="dim2">600px</label>

                                <input type="radio" class="btn-check" name="dimension" id="dim3" autocomplete="off" />
                                <label class="btn btn-outline-secondary " for="dim3">300px</label>
                            </div>
                        </div>
                    </div>
                    <div class="row py-2">
                        
                    </div>


                    <h6 class="border-bottom border-dark pb-1">File Info:</h6>

                    <div class="row justify-content-center text-small">
                        <div class="col">
                            <div class="pt-2">Old &rarr;</div>
                        </div>
                        <div class="col-md-9">
                            <div class="d-flex text-center">
                                <div class="align-self-center py-2">
                                    <div id="file_type_old" class="type">-</div>
                                </div>
                                <div class="align-self-center p-2">
                                    <div id="file_size_old"></div>
                                </div>
                                <div class="align-self-center p-2">
                                    <div id="file_res_old"></div>
                                </div>
                                <div class="align-self-center py-2">
                                    <div id="file_name_old">no-file</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center text-small">
                        <div class="col">
                            <div class="pt-2">New &rarr;</div>
                        </div>
                        <div class="col-md-9">
                            <div class="d-flex text-center">
                                <div class="align-self-center py-2">
                                    <div id="file_type" class="type">-</div>
                                </div>
                                <div class="align-self-center p-2">
                                    <div id="file_size"></div>
                                </div>
                                <div class="align-self-center p-2">
                                    <div id="file_res"></div>
                                </div>
                                <div class="align-self-center py-2">
                                    <div id="file_name">no-file</div>
                                </div>
                            </div>


                        </div>
                    </div>
                    -->
                </div>
            </div>
        </div>
        <!-- Example images -->
        <div id="example-images-container" class="text-center mt-5">
            <h4>Or select a sample image to try:</h4>
            <div class="mt-4">
                <img src="static/img/couple.jpg" alt="Couple" class="example-image">
                <img src="static/img/paris.jpg" alt="Paris" class="example-image">
                <img src="static/img/porsche.jpg" alt="Posrche" class="example-image">
            </div>
        </div>

        <!-- Show images -->
        <div id="show-container" class="show-container row">
            <div class="show-box col-sm m-2 p-4">
                <h4 id="show-title" class="pb-1">Your resize image:</h4>
                <p id="show-description" class="mb-4">All auto resized and croped to a standard size of 16:9 Widescreen.
                </p>
                <!-- Show single image -->
                <div class="row" id="show-single">
                    <div class="col-sm-8">
                        <div class="show-single-image">
                            <!-- <p class="placeholder-glow"><span class="placeholder col-12" style="height:50vh;"></span> -->
                            <img src="static/img/porsche.jpg" style="width:100%;">
                            <div class="show-size-tag">10000x10000</div>
                            </p>
                        </div>
                    </div>
                    <div class="col-sm">
                        <p id="show-single-description">Resized image No. 1 (JPG)</p>
                        <button type="button" id="show-single-download" class="btn btn-download"><i
                                class="bi bi-download bi-mr"></i>Download</button>
                    </div>
                </div>
                <!-- Show multiple image -->
                <div id="show-multiple" class="row">
                    <div class="col-sm-3 my-4">
                        <div class="show-multiple-image">
                            <p class="placeholder-glow"><span class="placeholder col-12" style="height:20vh;"></span>
                            </p>
                            <div class="show-size-tag">500x500</div>
                        </div>
                        <p id="show-single-description">Resized image No. 1 (JPG)</p>
                        <button type="button" id="show-single-download" class="btn btn-download"><i
                                class="bi bi-download bi-mr"></i>Download</button>
                    </div>
                    <div class="col-sm-3 my-4">
                        <div class="show-multiple-image">
                            <p class="placeholder-glow"><span class="placeholder col-12" style="height:20vh;"></span>
                            </p>
                            <div class="show-size-tag">500x500</div>
                        </div>
                        <p id="show-single-description">Resized image No. 1 (JPG)</p>
                        <button type="button" id="show-single-download" class="btn btn-download"><i
                                class="bi bi-download bi-mr"></i>Download</button>
                    </div>
                    <div class="col-sm-3 my-4">
                        <div class="show-multiple-image">
                            <p class="placeholder-glow"><span class="placeholder col-12" style="height:20vh;"></span>
                            <div class="show-size-tag">500x500</div>
                            </p>
                        </div>
                        <p id="show-single-description">Resized image No. 1 (JPG)</p>
                        <button type="button" id="show-single-download" class="btn btn-download"><i
                                class="bi bi-download bi-mr"></i>Download</button>
                    </div>
                    <div class="col-sm-3 my-4">
                        <div class="show-multiple-image">
                            <p class="placeholder-glow"><span class="placeholder col-12" style="height:20vh;"></span>
                            </p>
                            <div class="show-size-tag">500x500</div>
                        </div>
                        <p id="show-single-description">Resized image No. 1 (JPG)</p>
                        <button type="button" id="show-single-download" class="btn btn-download"><i
                                class="bi bi-download bi-mr"></i>Download</button>
                    </div>
                </div>
                <!-- Hidden images for system -->
                <div id="imageResizedContainer">
                    <h5>Resized image</h5>
                </div>
                <div id="imagePrevContainer">
                    <h5>Prev image</h5>
                </div>
            </div>
        </div>

    </div>
</section>
<div class="spacer"></div>
<!-- Page Content Block 2 -->
<section>
    <div class="container px-4 px-lg-5">
        <!-- Content Row with cards -->
        <div class="row gx-lg-5 text-center text-white">
            <h2 class="my-5 slide-top-1">Photo editing. Fully free. Directly in any browser.</h2>
            <div class="col-md-4 mb-5 slide-top-2">
                <div class="h-100">
                    <div class="gr-04a mx-auto"></div>
                    <p class="card-text">Resize and crop your photos for print or social media with auto-presets.
                    </p>
                </div>
            </div>
            <div class="col-md-4 mb-5 slide-top-2">
                <div class="h-100">
                    <div class="gr-04b mx-auto"></div>
                    <p class="card-text">Bulk reduces file size and then crops it, contains it, or forces it to desired
                        pixels.
                    </p>
                </div>
            </div>
            <div class="col-md-4 mb-5 slide-top-2">
                <div class="h-100">
                    <div class="gr-04c mx-auto"></div>
                    <p class="card-text">Process multiple formats and images at the same time.</p>
                </div>
            </div>
        </div>
        <div class="spacer"></div>
        <!-- Text Description -->
        <div class="row mb-5 text-white">
            <h2 class="pb-4 slide-top-1">How we do it?</h2>
            <div class="col-sm slide-top-2">
                <p>Free Resize Image is an online app that allows you to compress your image on the web in order to
                    adjust quality and optimize information. You could drag and drop or simple upload
                    by clicking on the uploader. When you upload your image, our app will show you format, size, and
                    resolution of previous image and new image. Typical formats like BMP, GIF, JPG or PNG are supported.
                    You could also upload other image formats like iPhone HEIC files. The uploader is fast and secure
                    and all the process is made online without storing information in any server.
                </p>

            </div>
            <div class="col-sm slide-top-2">
                <p>Photos from modern cellphones and cameras usually have over 6 million pixels, while most cellphones,
                    tablets, notebook or TV screens have only about 1.5 million pixels, which means you end up seeing a
                    resized version of the image (you only use the full image if you print it). So by resizing your
                    image, decreasing its width and height to a reduced size, your image would have about the same
                    number of pixels as the screens that will display it, and you wouldn’t be losing any quality or
                    detail, even looking at your image in full screen mode.
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}
