{% extends 'base.html' %}
{% set active_page = "/resize1080x1080" %}

{% block content %}

<div class="spacer"></div>

<!-- Page Content Block -->

<h1 class="mb-5">Our guide for photo resizing</h1>

<h3 class="mb-4">How to resize for SEO and Social Media?</h3>


<p>If you want to share your logo in WhatsApp and Facebook or Twitter you could free resize your image and optimize it
    for SEO. Here is an example of how it would look like if you do the correct configuration and resize the image to the appropiate size.</p>
    
    <a href="../"><img src="../static/img/Free-Image-Resizer-047-How-to-resize-for-SEO-and-social-media-7.png" width="600px"
        class="img-fluid rounded mx-auto d-block"></a>
    
<p>Recommended resize sizes are:</p>
<ul>
    <li>1.19:1 - 1640x856px - WhatsApp and Facebook</li>
    <li>2:1 - 1600x800px - Twitter</li>
</ul>


<h3 class="mt-5">Six steps for SEO and Social Media resizing using a free online tool</h3>

<p class="mt-3">Follow the next quick steps:</p>

<ol>
    <li>
        <p>Drag and drop your image to <a title="Bluk Resize Images for Free" href="../">Free Image Resizer</a> to
            upload and click on "Scale to a standard size".</p>
        <a href="../"><img src="../static/img/Free-Image-Resizer-041-How-to-resize-for-SEO-and-social-media-1.png"
                class="img-fluid rounded mx-auto d-block"></a>
    </li>
    <li>
        <p class="mt-5">Click on "SEO" and presets for WhatsApp (Facebook) and Twitter will appear.</p>
        <a href="../"><img src="../static/img/Free-Image-Resizer-042-How-to-resize-for-SEO-and-social-media-2.png"
                class="img-fluid rounded mx-auto d-block"></a>
    </li>
    <li>
        <p class="mt-5">Click on "Contain" if you want to ensure your logo is not cropped (optional).</p>
        <a href="../"><img src="../static/img/Free-Image-Resizer-043-How-to-resize-for-SEO-and-social-media-3.png"
                class="img-fluid rounded mx-auto d-block"></a>
    </li>
    <li>
        <p class="mt-5">Select your background color (optional).</p>
        <a href="../"><img src="../static/img/Free-Image-Resizer-044-How-to-resize-for-SEO-and-social-media-4.png"
                class="img-fluid rounded mx-auto d-block"></a>
    </li>
    <li>
        <p class="mt-5">Select the first size for Facebook and download the image, and then the second size for Twitter
            and download again.</p>
        <a href="../"><img src="../static/img/Free-Image-Resizer-045-How-to-resize-for-SEO-and-social-media-5.png"
                class="img-fluid rounded mx-auto d-block"></a>
    </li>
    <li>
        <p class="mt-5">Use any plugin or tool like og:tag to upload your image to your webpage. For example here we use All in
            One SEO free plugin for Wordpress to add the image.</p>
        <a href="../"><img src="../static/img/Free-Image-Resizer-046-How-to-resize-for-SEO-and-social-media-6.png"
                class="img-fluid rounded mx-auto d-block"></a>
    </li>

</ol>


<h3 class="mt-5 mb-4">Resize photos and images online to any dimension or size</h3>

<p>You can pick other standard presets to free resize your images, including 1.91:1 Landscape, 4:5 Portrait, 4:3
    Presentation, 9:16 iPhone, 3:2 Landscape, and 1:1 Square.
    Open <a title="Bluk Resize Images for Free" href="../">Free Image Resizer</a> from any Internet-connected browser,
    drag and drop your images, and pick a method and size to resize.</p>

<a href="../" class="btn btn-intense my-3" role="button">Go to Image Resizer &rarr;</a>

<div class="spacer" style="min-height: 10vh;"></div>

{% endblock %}
