{% extends 'base.html' %}
{% set active_page = "/resize1080x1080" %}

{% block content %}

<div class="spacer"></div>

<!-- Page Content Block -->
<h3 class="mb-4">Crop your images to 1080x1080</h3>

<p>If you want to resize your image to optimize it for a social media platform one of the most used sizes is 1080x1080
    pixels. This size will ensure your images are optimized for Facebook, Instagram, Twitter, or Linkedin.</p>
<p>Using Photoshop is an option to manually crop, resize, and save for the web.</p>
<p></p>
<p>The downside of this tool is:</p>
<ul>
    <li>You will need a paid subscription to Adobe.</li>
    <li>Install it on your PC or Mac.</li>
    <li>Open each file individually.</li>
    <li>Crop to 1080x1080 px.</li>
    <li>Save each file optimized for the web.</li>
</ul>
<p>&nbsp;</p>
<p>With an online tool, you could simply select under our presets size and crop your single image or group of images to 1080x1080 automatically.</p> 

<p>The upside of this tool is:</p>
<ul>
<li>Simple drag and drop your images.</li>
<li>Select 1080x1080 px.</li>
<li>Download the file.</li>
</ul>

<p>Here you can see how to do it using <a title="Bluk Resize Images for Free" href="../">Free Image Resizer</a> online tool:</p>

<div><a href="../"><img src="../static/img/Free-Image-Resizer-029-resize-to-1080x1080.png" class="img-fluid rounded mx-auto d-block" width="600px"></a></div>

<div class="spacer"></div>

<h3 class="mb-4">Resize photos and images online to any dimension or size</h3>

<p>You can pick other standard presets to resize your images, including: 1.91:1 Landscape, 4:5 Portrait, 4:3 Presentation, 9:16 iPhone, 3:2 Landscape, and 1:1 Square.
Open <a title="Bluk Resize Images for Free" href="../">Free Image Resizer</a> from any Internet-connected browser. Simple drag and drop to upload and pick a method to resize your images.</p>

<a href="../" class="btn btn-intense my-3" role="button">Go to Image Resizer &rarr;</a>

<div class="spacer" style="min-height: 10vh;"></div>

{% endblock %}
