{% extends 'base.html' %}
{% set active_page = "/terms" %}

{% block content %}

<section>
    <!-- Page Content Block -->
    <div class="container px-4 px-lg-5 my-4">
        <h3>Terms & Privacy</h3>
        <p>Our terms and privacy will be available shortly.</p>
        <div class="spacer"></div>
        <p>If you have any questions about this Terms and Conditions, please <a href="/contact">get in touch</a>.</p>
    </div>
    <div class="spacer" style="min-height: 30vh;"></div>
</section>

{% endblock %}
