{% extends 'base.html' %}
{% set active_page = "/terms" %}

{% block content %}

<section>
    <!-- Page Content Block 1 - Upload -->
    <div class="container px-4 px-lg-5 text-white my-5">
        <h3>Terms & Privacy</h3>
        <p>Our terms and privacy will be available shortly.</p>
        <div class="spacer"></div>
        <p>If you have any questions about this Terms and Conditions, please get in touch.</p>
        <p><a class="link-light" href="/contact">Contact Us</a></p>
    </div>
    <div class="spacer" style="min-height: 25vh;"></div>
</section>

{% endblock %}
